.online {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--success);
    border-radius: 50%;
    bottom: 0;
    right: 0;
  }
}
