.btn-white-1 {
  --bs-btn-color: var(--text-dark);
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #fff3;
  //   --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: #fff3;
}
.btn-white-2 {
  --bs-btn-color:var(--tp-common-black);
  --bs-btn-bg: var(--tp-common-white);
  // color: var(--tp-common-white);
 
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg:  var(--tp-theme-primary);
  --bs-btn-hover-border-color:  var(--tp-theme-primary);

}
.btn-md {
  --bs-btn-padding-x: 1.8125rem;
  --bs-btn-padding-y: 0.5625rem;
  --bs-btn-font-size: 14px;
  --bs-btn-font-weight: 500;
  line-height: 1.625rem;
}
