.card-c1 {
  text-align: center;

  .card-img {
    background-image: radial-gradient(
      95.56% 95.56% at 50% 50%,
      #ffffff 0%,
      #bddeff 100%
    );
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .content {
    font-size: 0.875rem;
    color: var(--text-dark-200);
  }

  &:hover .card-img img {
    transform: scale(1.1);
    transition: all 0.3s 0s ease-in-out;
  }
}

.card-c2 {
  background-color: rgb(246, 247, 249);
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;

  i {
    color: var(--tp-pink-1);
    font-size: 2.5rem;
  }
}

.card-product-1 {
  --bs-card-border-color: var(--tp-border-primary);
  --bs-card-border-radius: 0.5rem;
  --bs-card-box-shadow: 0 0px 0px #010f1c24;
  --bs-card-spacer-y: 1.25rem;
  --bs-card-spacer-x: 1.875rem;
  box-shadow: var(--bs-card-box-shadow);
  overflow: hidden;

  & * {
    transition: all 300ms;
  }

  .card-action {
    right: 0px;
    visibility: hidden;
    opacity: 0;
    bottom: 25px;
    box-shadow: 0 1px 3px #010f1c24;
    overflow: hidden;
    border-radius: 6px;
  }

  .card-body + .card-body {
    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
  }

  &:hover {
    --bs-card-box-shadow: 0 4px 10px #010f1c24;
    border-color: var(--tp-common-white);

    .card-img-top {
      scale: 1.1;
    }

    .card-action {
      right: 20px;
      visibility: visible;
      opacity: 1;
    }
  }
}
