.dropdown-menu {
  &.dropdown-profile {
    --bs-dropdown-min-width: 17.1875rem;
    --bs-dropdown-padding-y: 0.875rem;
    --bs-dropdown-item-padding-y: 0.5rem;
    --bs-dropdown-item-padding-x: 0.875rem;
    --bs-dropdown-link-hover-bg: #f9f9f9;
    --bs-dropdown-link-hover-color: #00b2ff;
    --bs-dropdown-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    // --bs-dropdown-border-radius: 0.475rem;
    --bs-dropdown-border-width: 0;
    --bs-dropdown-font-size: 0.875rem;
    --bs-dropdown-divider-bg: #f1f1f2;
    box-shadow: var(--bs-dropdown-box-shadow);
    .dropdown-item {
      border-radius: 0.475rem;
    }
  }
}
