.form-search {
  position: relative;
  .form-control {
    font-size: 0.875rem;
    color: var(--text-dark);
    border-radius: 0;
    background-color: var(--bg-dark-200);
    border: 1px solid rgba(1, 15, 28, 0.1);
    height: 2.875rem;
    padding-left: 1.5rem;
    padding-right: 3.125rem;
    &::placeholder {
      color: var(--text-dark-100);
    }
    &:focus {
      border-color: var(--primary);
      box-shadow: none;
    }
  }
  &::after {
    font-family: var(--font-icon) !important;
    content: "\F52A";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    color: var(--text-dark);
    font-size: 1.35rem;
  }
  // &:focus::after {
  //   color: var(--primary);
  // }
}
