.navbar {
  --bs-navbar-padding-y: 0;
  --bs-nav-link-font-size: 0.875rem;
  --bs-navbar-color: var(--text-dark);
  --bs-navbar-hover-color: var(--primary);
  --bs-navbar-active-color: var(--primary);
  height: 4.375rem;
}
