.nav-tabs {
  --bs-nav-tabs-border-width: 0;
  --bs-nav-link-font-weight: 400;
  --bs-nav-link-font-size: 1.25rem;
  --bs-nav-link-color: var(--tp-text-3);
  --bs-nav-tabs-link-active-color: var(--text-black);
  --bs-nav-link-hover-color: var(--text-black);
  --bs-nav-link-padding-x: 1rem;
}
