:root {
  --font-icon: bootstrap-icons;
}

body {
  --bs-body-font-family: "Poppins", sans-serif;
  --bs-body-color: var(--text-dark);
}

p {
  margin-bottom: 0;
}

.section {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

a {
  text-decoration: none;
  color: inherit !important;
}

:root {
  --text-dark-100: #767a7d;
  --text-dark-200: #55585b;
  --text-dark: #010f1c;
  --tp-text-body: #55585b;
  --bg-dark-200: #f8f8f8;
  --primary: #0989ff;
  --success: #50cd89;
  --tp-pink-1: #fd4b6b;
  --tp-text-3: #a0a2a4;
  --tp-border-primary: #eaebed;
  --tp-common-white: #ffffff;
  --tp-theme-primary: #0989ff;
  --tp-common-black: #010f1c;
  --tp-common-black-solid: #000;
  --tp-yellow-1: #ffb342;
  --tp-yellow-2: #ffd43a;
  --tp-yellow-3: #ffb21d;
  --tp-pink-2: #fd2d6c;
  --tp-pink-3: #ff296a;
  --tp-pink-4: #ff3494;
  --tp-green-dark: #115061;
  --tp-green-1: #31b757;
  --tp-khaki-1: #ab9774;
  --tp-blue-1: #0989ff;
  --tp-orange-1: #ff6736;
  --tp-heading-primary: #010f1c;
  --tp-heading-secondary: #021d35;
  --tp-grey-1: #f6f7f9;
  --tp-grey-2: #ecf2f7;
  --tp-grey-3: #cad4db;
  --tp-grey-4: #f8f8f8;
  --tp-grey-5: #eff0ed;
  --tp-grey-6: #eff1f5;
  --tp-grey-7: #f6f6f6;
  --tp-grey-8: #eae4de;
  --tp-grey-9: #e5e9f2;
  --tp-text-1: #767a7d;
  --tp-text-2: #55585b;
  --tp-text-4: #7d7f82;
  --tp-text-5: #888a8c;
  --tp-text-6: #90969b;
  --tp-theme-secondary: #821f40;
  --tp-theme-brown: #bd844c;
  --tp-theme-green: #678e61;
  --tp-footer-grey-1: #f4f7f9;
  --tp-border-secondary: #f0f2f4;
  --tp-border-3: #e4e5e9;
  --tp-border-4: #e6e7e8;
}

.text-grey-800 {
  color: var(--tp-text-body);
}

.text-primary {
  color: var(--tp-theme-primary);
}

.form-search {
  position: relative;
}
.form-search .form-control {
  font-size: 0.875rem;
  color: var(--text-dark);
  border-radius: 0;
  background-color: var(--bg-dark-200);
  border: 1px solid rgba(1, 15, 28, 0.1);
  height: 2.875rem;
  padding-left: 1.5rem;
  padding-right: 3.125rem;
}
.form-search .form-control::-moz-placeholder {
  color: var(--text-dark-100);
}
.form-search .form-control::placeholder {
  color: var(--text-dark-100);
}
.form-search .form-control:focus {
  border-color: var(--primary);
  box-shadow: none;
}
.form-search::after {
  font-family: var(--font-icon) !important;
  content: "\f52a";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: var(--text-dark);
  font-size: 1.35rem;
}

.navbar {
  --bs-navbar-padding-y: 0;
  --bs-nav-link-font-size: 0.875rem;
  --bs-navbar-color: var(--text-dark);
  --bs-navbar-hover-color: var(--primary);
  --bs-navbar-active-color: var(--primary);
  height: 4.375rem;
}

.top-8 {
  top: 0.5rem;
}

.row-1 {
  --bs-gutter-x: 0.063rem;
  --bs-gutter-y: 0.063rem;
}

.li-1 li + li {
  padding-top: 0.063rem;
}

.sq-1 {
  width: 0.063rem !important;
  height: 0.063rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.row-2 {
  --bs-gutter-x: 0.125rem;
  --bs-gutter-y: 0.125rem;
}

.li-2 li + li {
  padding-top: 0.125rem;
}

.sq-2 {
  width: 0.125rem !important;
  height: 0.125rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.row-3 {
  --bs-gutter-x: 0.188rem;
  --bs-gutter-y: 0.188rem;
}

.li-3 li + li {
  padding-top: 0.188rem;
}

.sq-3 {
  width: 0.188rem !important;
  height: 0.188rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.row-4 {
  --bs-gutter-x: 0.25rem;
  --bs-gutter-y: 0.25rem;
}

.li-4 li + li {
  padding-top: 0.25rem;
}

.sq-4 {
  width: 0.25rem !important;
  height: 0.25rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.row-5 {
  --bs-gutter-x: 0.313rem;
  --bs-gutter-y: 0.313rem;
}

.li-5 li + li {
  padding-top: 0.313rem;
}

.sq-5 {
  width: 0.313rem !important;
  height: 0.313rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-6,
.my-6,
.mt-6 {
  margin-top: 0.375rem !important;
}

.m-6,
.my-6,
.mb-6 {
  margin-bottom: 0.375rem !important;
}

.m-6,
.mx-6,
.ms-6 {
  margin-left: 0.375rem !important;
}

.m-6,
.mx-6,
.me-6 {
  margin-right: 0.375rem !important;
}

.p-6,
.py-6,
.pt-6 {
  padding-top: 0.375rem !important;
}

.p-6,
.py-6,
.pb-6 {
  padding-bottom: 0.375rem !important;
}

.p-6,
.px-6,
.ps-6 {
  padding-left: 0.375rem !important;
}

.p-6,
.px-6,
.pe-6 {
  padding-right: 0.375rem !important;
}

.fs-6 {
  font-size: 0.375rem !important;
}

.gap-6 {
  gap: 0.375rem !important;
}

.row-6 {
  --bs-gutter-x: 0.375rem;
  --bs-gutter-y: 0.375rem;
}

.li-6 li + li {
  padding-top: 0.375rem;
}

.sq-6 {
  width: 0.375rem !important;
  height: 0.375rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-7,
.my-7,
.mt-7 {
  margin-top: 0.438rem !important;
}

.m-7,
.my-7,
.mb-7 {
  margin-bottom: 0.438rem !important;
}

.m-7,
.mx-7,
.ms-7 {
  margin-left: 0.438rem !important;
}

.m-7,
.mx-7,
.me-7 {
  margin-right: 0.438rem !important;
}

.p-7,
.py-7,
.pt-7 {
  padding-top: 0.438rem !important;
}

.p-7,
.py-7,
.pb-7 {
  padding-bottom: 0.438rem !important;
}

.p-7,
.px-7,
.ps-7 {
  padding-left: 0.438rem !important;
}

.p-7,
.px-7,
.pe-7 {
  padding-right: 0.438rem !important;
}

.fs-7 {
  font-size: 0.438rem !important;
}

.gap-7 {
  gap: 0.438rem !important;
}

.row-7 {
  --bs-gutter-x: 0.438rem;
  --bs-gutter-y: 0.438rem;
}

.li-7 li + li {
  padding-top: 0.438rem;
}

.sq-7 {
  width: 0.438rem !important;
  height: 0.438rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-8,
.my-8,
.mt-8 {
  margin-top: 0.5rem !important;
}

.m-8,
.my-8,
.mb-8 {
  margin-bottom: 0.5rem !important;
}

.m-8,
.mx-8,
.ms-8 {
  margin-left: 0.5rem !important;
}

.m-8,
.mx-8,
.me-8 {
  margin-right: 0.5rem !important;
}

.p-8,
.py-8,
.pt-8 {
  padding-top: 0.5rem !important;
}

.p-8,
.py-8,
.pb-8 {
  padding-bottom: 0.5rem !important;
}

.p-8,
.px-8,
.ps-8 {
  padding-left: 0.5rem !important;
}

.p-8,
.px-8,
.pe-8 {
  padding-right: 0.5rem !important;
}

.fs-8 {
  font-size: 0.5rem !important;
}

.gap-8 {
  gap: 0.5rem !important;
}

.row-8 {
  --bs-gutter-x: 0.5rem;
  --bs-gutter-y: 0.5rem;
}

.li-8 li + li {
  padding-top: 0.5rem;
}

.sq-8 {
  width: 0.5rem !important;
  height: 0.5rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-9,
.my-9,
.mt-9 {
  margin-top: 0.563rem !important;
}

.m-9,
.my-9,
.mb-9 {
  margin-bottom: 0.563rem !important;
}

.m-9,
.mx-9,
.ms-9 {
  margin-left: 0.563rem !important;
}

.m-9,
.mx-9,
.me-9 {
  margin-right: 0.563rem !important;
}

.p-9,
.py-9,
.pt-9 {
  padding-top: 0.563rem !important;
}

.p-9,
.py-9,
.pb-9 {
  padding-bottom: 0.563rem !important;
}

.p-9,
.px-9,
.ps-9 {
  padding-left: 0.563rem !important;
}

.p-9,
.px-9,
.pe-9 {
  padding-right: 0.563rem !important;
}

.fs-9 {
  font-size: 0.563rem !important;
}

.gap-9 {
  gap: 0.563rem !important;
}

.row-9 {
  --bs-gutter-x: 0.563rem;
  --bs-gutter-y: 0.563rem;
}

.li-9 li + li {
  padding-top: 0.563rem;
}

.sq-9 {
  width: 0.563rem !important;
  height: 0.563rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-10,
.my-10,
.mt-10 {
  margin-top: 0.625rem !important;
}

.m-10,
.my-10,
.mb-10 {
  margin-bottom: 0.625rem !important;
}

.m-10,
.mx-10,
.ms-10 {
  margin-left: 0.625rem !important;
}

.m-10,
.mx-10,
.me-10 {
  margin-right: 0.625rem !important;
}

.p-10,
.py-10,
.pt-10 {
  padding-top: 0.625rem !important;
}

.p-10,
.py-10,
.pb-10 {
  padding-bottom: 0.625rem !important;
}

.p-10,
.px-10,
.ps-10 {
  padding-left: 0.625rem !important;
}

.p-10,
.px-10,
.pe-10 {
  padding-right: 0.625rem !important;
}

.fs-10 {
  font-size: 0.625rem !important;
}

.gap-10 {
  gap: 0.625rem !important;
}

.row-10 {
  --bs-gutter-x: 0.625rem;
  --bs-gutter-y: 0.625rem;
}

.li-10 li + li {
  padding-top: 0.625rem;
}

.sq-10 {
  width: 0.625rem !important;
  height: 0.625rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-11,
.my-11,
.mt-11 {
  margin-top: 0.688rem !important;
}

.m-11,
.my-11,
.mb-11 {
  margin-bottom: 0.688rem !important;
}

.m-11,
.mx-11,
.ms-11 {
  margin-left: 0.688rem !important;
}

.m-11,
.mx-11,
.me-11 {
  margin-right: 0.688rem !important;
}

.p-11,
.py-11,
.pt-11 {
  padding-top: 0.688rem !important;
}

.p-11,
.py-11,
.pb-11 {
  padding-bottom: 0.688rem !important;
}

.p-11,
.px-11,
.ps-11 {
  padding-left: 0.688rem !important;
}

.p-11,
.px-11,
.pe-11 {
  padding-right: 0.688rem !important;
}

.fs-11 {
  font-size: 0.688rem !important;
}

.gap-11 {
  gap: 0.688rem !important;
}

.row-11 {
  --bs-gutter-x: 0.688rem;
  --bs-gutter-y: 0.688rem;
}

.li-11 li + li {
  padding-top: 0.688rem;
}

.sq-11 {
  width: 0.688rem !important;
  height: 0.688rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-12,
.my-12,
.mt-12 {
  margin-top: 0.75rem !important;
}

.m-12,
.my-12,
.mb-12 {
  margin-bottom: 0.75rem !important;
}

.m-12,
.mx-12,
.ms-12 {
  margin-left: 0.75rem !important;
}

.m-12,
.mx-12,
.me-12 {
  margin-right: 0.75rem !important;
}

.p-12,
.py-12,
.pt-12 {
  padding-top: 0.75rem !important;
}

.p-12,
.py-12,
.pb-12 {
  padding-bottom: 0.75rem !important;
}

.p-12,
.px-12,
.ps-12 {
  padding-left: 0.75rem !important;
}

.p-12,
.px-12,
.pe-12 {
  padding-right: 0.75rem !important;
}

.fs-12 {
  font-size: 0.75rem !important;
}

.gap-12 {
  gap: 0.75rem !important;
}

.row-12 {
  --bs-gutter-x: 0.75rem;
  --bs-gutter-y: 0.75rem;
}

.li-12 li + li {
  padding-top: 0.75rem;
}

.sq-12 {
  width: 0.75rem !important;
  height: 0.75rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-13,
.my-13,
.mt-13 {
  margin-top: 0.813rem !important;
}

.m-13,
.my-13,
.mb-13 {
  margin-bottom: 0.813rem !important;
}

.m-13,
.mx-13,
.ms-13 {
  margin-left: 0.813rem !important;
}

.m-13,
.mx-13,
.me-13 {
  margin-right: 0.813rem !important;
}

.p-13,
.py-13,
.pt-13 {
  padding-top: 0.813rem !important;
}

.p-13,
.py-13,
.pb-13 {
  padding-bottom: 0.813rem !important;
}

.p-13,
.px-13,
.ps-13 {
  padding-left: 0.813rem !important;
}

.p-13,
.px-13,
.pe-13 {
  padding-right: 0.813rem !important;
}

.fs-13 {
  font-size: 0.813rem !important;
}

.gap-13 {
  gap: 0.813rem !important;
}

.row-13 {
  --bs-gutter-x: 0.813rem;
  --bs-gutter-y: 0.813rem;
}

.li-13 li + li {
  padding-top: 0.813rem;
}

.sq-13 {
  width: 0.813rem !important;
  height: 0.813rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-14,
.my-14,
.mt-14 {
  margin-top: 0.875rem !important;
}

.m-14,
.my-14,
.mb-14 {
  margin-bottom: 0.875rem !important;
}

.m-14,
.mx-14,
.ms-14 {
  margin-left: 0.875rem !important;
}

.m-14,
.mx-14,
.me-14 {
  margin-right: 0.875rem !important;
}

.p-14,
.py-14,
.pt-14 {
  padding-top: 0.875rem !important;
}

.p-14,
.py-14,
.pb-14 {
  padding-bottom: 0.875rem !important;
}

.p-14,
.px-14,
.ps-14 {
  padding-left: 0.875rem !important;
}

.p-14,
.px-14,
.pe-14 {
  padding-right: 0.875rem !important;
}

.fs-14 {
  font-size: 0.875rem !important;
}

.gap-14 {
  gap: 0.875rem !important;
}

.row-14 {
  --bs-gutter-x: 0.875rem;
  --bs-gutter-y: 0.875rem;
}

.li-14 li + li {
  padding-top: 0.875rem;
}

.sq-14 {
  width: 0.875rem !important;
  height: 0.875rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-15,
.my-15,
.mt-15 {
  margin-top: 0.938rem !important;
}

.m-15,
.my-15,
.mb-15 {
  margin-bottom: 0.938rem !important;
}

.m-15,
.mx-15,
.ms-15 {
  margin-left: 0.938rem !important;
}

.m-15,
.mx-15,
.me-15 {
  margin-right: 0.938rem !important;
}

.p-15,
.py-15,
.pt-15 {
  padding-top: 0.938rem !important;
}

.p-15,
.py-15,
.pb-15 {
  padding-bottom: 0.938rem !important;
}

.p-15,
.px-15,
.ps-15 {
  padding-left: 0.938rem !important;
}

.p-15,
.px-15,
.pe-15 {
  padding-right: 0.938rem !important;
}

.fs-15 {
  font-size: 0.938rem !important;
}

.gap-15 {
  gap: 0.938rem !important;
}

.row-15 {
  --bs-gutter-x: 0.938rem;
  --bs-gutter-y: 0.938rem;
}

.li-15 li + li {
  padding-top: 0.938rem;
}

.sq-15 {
  width: 0.938rem !important;
  height: 0.938rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-16,
.my-16,
.mt-16 {
  margin-top: 1rem !important;
}

.m-16,
.my-16,
.mb-16 {
  margin-bottom: 1rem !important;
}

.m-16,
.mx-16,
.ms-16 {
  margin-left: 1rem !important;
}

.m-16,
.mx-16,
.me-16 {
  margin-right: 1rem !important;
}

.p-16,
.py-16,
.pt-16 {
  padding-top: 1rem !important;
}

.p-16,
.py-16,
.pb-16 {
  padding-bottom: 1rem !important;
}

.p-16,
.px-16,
.ps-16 {
  padding-left: 1rem !important;
}

.p-16,
.px-16,
.pe-16 {
  padding-right: 1rem !important;
}

.fs-16 {
  font-size: 1rem !important;
}

.gap-16 {
  gap: 1rem !important;
}

.row-16 {
  --bs-gutter-x: 1rem;
  --bs-gutter-y: 1rem;
}

.li-16 li + li {
  padding-top: 1rem;
}

.sq-16 {
  width: 1rem !important;
  height: 1rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-17,
.my-17,
.mt-17 {
  margin-top: 1.063rem !important;
}

.m-17,
.my-17,
.mb-17 {
  margin-bottom: 1.063rem !important;
}

.m-17,
.mx-17,
.ms-17 {
  margin-left: 1.063rem !important;
}

.m-17,
.mx-17,
.me-17 {
  margin-right: 1.063rem !important;
}

.p-17,
.py-17,
.pt-17 {
  padding-top: 1.063rem !important;
}

.p-17,
.py-17,
.pb-17 {
  padding-bottom: 1.063rem !important;
}

.p-17,
.px-17,
.ps-17 {
  padding-left: 1.063rem !important;
}

.p-17,
.px-17,
.pe-17 {
  padding-right: 1.063rem !important;
}

.fs-17 {
  font-size: 1.063rem !important;
}

.gap-17 {
  gap: 1.063rem !important;
}

.row-17 {
  --bs-gutter-x: 1.063rem;
  --bs-gutter-y: 1.063rem;
}

.li-17 li + li {
  padding-top: 1.063rem;
}

.sq-17 {
  width: 1.063rem !important;
  height: 1.063rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-18,
.my-18,
.mt-18 {
  margin-top: 1.125rem !important;
}

.m-18,
.my-18,
.mb-18 {
  margin-bottom: 1.125rem !important;
}

.m-18,
.mx-18,
.ms-18 {
  margin-left: 1.125rem !important;
}

.m-18,
.mx-18,
.me-18 {
  margin-right: 1.125rem !important;
}

.p-18,
.py-18,
.pt-18 {
  padding-top: 1.125rem !important;
}

.p-18,
.py-18,
.pb-18 {
  padding-bottom: 1.125rem !important;
}

.p-18,
.px-18,
.ps-18 {
  padding-left: 1.125rem !important;
}

.p-18,
.px-18,
.pe-18 {
  padding-right: 1.125rem !important;
}

.fs-18 {
  font-size: 1.125rem !important;
}

.gap-18 {
  gap: 1.125rem !important;
}

.row-18 {
  --bs-gutter-x: 1.125rem;
  --bs-gutter-y: 1.125rem;
}

.li-18 li + li {
  padding-top: 1.125rem;
}

.sq-18 {
  width: 1.125rem !important;
  height: 1.125rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-20,
.my-20,
.mt-20 {
  margin-top: 1.25rem !important;
}

.m-20,
.my-20,
.mb-20 {
  margin-bottom: 1.25rem !important;
}

.m-20,
.mx-20,
.ms-20 {
  margin-left: 1.25rem !important;
}

.m-20,
.mx-20,
.me-20 {
  margin-right: 1.25rem !important;
}

.p-20,
.py-20,
.pt-20 {
  padding-top: 1.25rem !important;
}

.p-20,
.py-20,
.pb-20 {
  padding-bottom: 1.25rem !important;
}

.p-20,
.px-20,
.ps-20 {
  padding-left: 1.25rem !important;
}

.p-20,
.px-20,
.pe-20 {
  padding-right: 1.25rem !important;
}

.fs-20 {
  font-size: 1.25rem !important;
}

.gap-20 {
  gap: 1.25rem !important;
}

.row-20 {
  --bs-gutter-x: 1.25rem;
  --bs-gutter-y: 1.25rem;
}

.li-20 li + li {
  padding-top: 1.25rem;
}

.sq-20 {
  width: 1.25rem !important;
  height: 1.25rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-22,
.my-22,
.mt-22 {
  margin-top: 1.375rem !important;
}

.m-22,
.my-22,
.mb-22 {
  margin-bottom: 1.375rem !important;
}

.m-22,
.mx-22,
.ms-22 {
  margin-left: 1.375rem !important;
}

.m-22,
.mx-22,
.me-22 {
  margin-right: 1.375rem !important;
}

.p-22,
.py-22,
.pt-22 {
  padding-top: 1.375rem !important;
}

.p-22,
.py-22,
.pb-22 {
  padding-bottom: 1.375rem !important;
}

.p-22,
.px-22,
.ps-22 {
  padding-left: 1.375rem !important;
}

.p-22,
.px-22,
.pe-22 {
  padding-right: 1.375rem !important;
}

.fs-22 {
  font-size: 1.375rem !important;
}

.gap-22 {
  gap: 1.375rem !important;
}

.row-22 {
  --bs-gutter-x: 1.375rem;
  --bs-gutter-y: 1.375rem;
}

.li-22 li + li {
  padding-top: 1.375rem;
}

.sq-22 {
  width: 1.375rem !important;
  height: 1.375rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-23,
.my-23,
.mt-23 {
  margin-top: 1.438rem !important;
}

.m-23,
.my-23,
.mb-23 {
  margin-bottom: 1.438rem !important;
}

.m-23,
.mx-23,
.ms-23 {
  margin-left: 1.438rem !important;
}

.m-23,
.mx-23,
.me-23 {
  margin-right: 1.438rem !important;
}

.p-23,
.py-23,
.pt-23 {
  padding-top: 1.438rem !important;
}

.p-23,
.py-23,
.pb-23 {
  padding-bottom: 1.438rem !important;
}

.p-23,
.px-23,
.ps-23 {
  padding-left: 1.438rem !important;
}

.p-23,
.px-23,
.pe-23 {
  padding-right: 1.438rem !important;
}

.fs-23 {
  font-size: 1.438rem !important;
}

.gap-23 {
  gap: 1.438rem !important;
}

.row-23 {
  --bs-gutter-x: 1.438rem;
  --bs-gutter-y: 1.438rem;
}

.li-23 li + li {
  padding-top: 1.438rem;
}

.sq-23 {
  width: 1.438rem !important;
  height: 1.438rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-24,
.my-24,
.mt-24 {
  margin-top: 1.5rem !important;
}

.m-24,
.my-24,
.mb-24 {
  margin-bottom: 1.5rem !important;
}

.m-24,
.mx-24,
.ms-24 {
  margin-left: 1.5rem !important;
}

.m-24,
.mx-24,
.me-24 {
  margin-right: 1.5rem !important;
}

.p-24,
.py-24,
.pt-24 {
  padding-top: 1.5rem !important;
}

.p-24,
.py-24,
.pb-24 {
  padding-bottom: 1.5rem !important;
}

.p-24,
.px-24,
.ps-24 {
  padding-left: 1.5rem !important;
}

.p-24,
.px-24,
.pe-24 {
  padding-right: 1.5rem !important;
}

.fs-24 {
  font-size: 1.5rem !important;
}

.gap-24 {
  gap: 1.5rem !important;
}

.row-24 {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1.5rem;
}

.li-24 li + li {
  padding-top: 1.5rem;
}

.sq-24 {
  width: 1.5rem !important;
  height: 1.5rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-25,
.my-25,
.mt-25 {
  margin-top: 1.563rem !important;
}

.m-25,
.my-25,
.mb-25 {
  margin-bottom: 1.563rem !important;
}

.m-25,
.mx-25,
.ms-25 {
  margin-left: 1.563rem !important;
}

.m-25,
.mx-25,
.me-25 {
  margin-right: 1.563rem !important;
}

.p-25,
.py-25,
.pt-25 {
  padding-top: 1.563rem !important;
}

.p-25,
.py-25,
.pb-25 {
  padding-bottom: 1.563rem !important;
}

.p-25,
.px-25,
.ps-25 {
  padding-left: 1.563rem !important;
}

.p-25,
.px-25,
.pe-25 {
  padding-right: 1.563rem !important;
}

.fs-25 {
  font-size: 1.563rem !important;
}

.gap-25 {
  gap: 1.563rem !important;
}

.row-25 {
  --bs-gutter-x: 1.563rem;
  --bs-gutter-y: 1.563rem;
}

.li-25 li + li {
  padding-top: 1.563rem;
}

.sq-25 {
  width: 1.563rem !important;
  height: 1.563rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-26,
.my-26,
.mt-26 {
  margin-top: 1.625rem !important;
}

.m-26,
.my-26,
.mb-26 {
  margin-bottom: 1.625rem !important;
}

.m-26,
.mx-26,
.ms-26 {
  margin-left: 1.625rem !important;
}

.m-26,
.mx-26,
.me-26 {
  margin-right: 1.625rem !important;
}

.p-26,
.py-26,
.pt-26 {
  padding-top: 1.625rem !important;
}

.p-26,
.py-26,
.pb-26 {
  padding-bottom: 1.625rem !important;
}

.p-26,
.px-26,
.ps-26 {
  padding-left: 1.625rem !important;
}

.p-26,
.px-26,
.pe-26 {
  padding-right: 1.625rem !important;
}

.fs-26 {
  font-size: 1.625rem !important;
}

.gap-26 {
  gap: 1.625rem !important;
}

.row-26 {
  --bs-gutter-x: 1.625rem;
  --bs-gutter-y: 1.625rem;
}

.li-26 li + li {
  padding-top: 1.625rem;
}

.sq-26 {
  width: 1.625rem !important;
  height: 1.625rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-28,
.my-28,
.mt-28 {
  margin-top: 1.75rem !important;
}

.m-28,
.my-28,
.mb-28 {
  margin-bottom: 1.75rem !important;
}

.m-28,
.mx-28,
.ms-28 {
  margin-left: 1.75rem !important;
}

.m-28,
.mx-28,
.me-28 {
  margin-right: 1.75rem !important;
}

.p-28,
.py-28,
.pt-28 {
  padding-top: 1.75rem !important;
}

.p-28,
.py-28,
.pb-28 {
  padding-bottom: 1.75rem !important;
}

.p-28,
.px-28,
.ps-28 {
  padding-left: 1.75rem !important;
}

.p-28,
.px-28,
.pe-28 {
  padding-right: 1.75rem !important;
}

.fs-28 {
  font-size: 1.75rem !important;
}

.gap-28 {
  gap: 1.75rem !important;
}

.row-28 {
  --bs-gutter-x: 1.75rem;
  --bs-gutter-y: 1.75rem;
}

.li-28 li + li {
  padding-top: 1.75rem;
}

.sq-28 {
  width: 1.75rem !important;
  height: 1.75rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-30,
.my-30,
.mt-30 {
  margin-top: 1.875rem !important;
}

.m-30,
.my-30,
.mb-30 {
  margin-bottom: 1.875rem !important;
}

.m-30,
.mx-30,
.ms-30 {
  margin-left: 1.875rem !important;
}

.m-30,
.mx-30,
.me-30 {
  margin-right: 1.875rem !important;
}

.p-30,
.py-30,
.pt-30 {
  padding-top: 1.875rem !important;
}

.p-30,
.py-30,
.pb-30 {
  padding-bottom: 1.875rem !important;
}

.p-30,
.px-30,
.ps-30 {
  padding-left: 1.875rem !important;
}

.p-30,
.px-30,
.pe-30 {
  padding-right: 1.875rem !important;
}

.fs-30 {
  font-size: 1.875rem !important;
}

.gap-30 {
  gap: 1.875rem !important;
}

.row-30 {
  --bs-gutter-x: 1.875rem;
  --bs-gutter-y: 1.875rem;
}

.li-30 li + li {
  padding-top: 1.875rem;
}

.sq-30 {
  width: 1.875rem !important;
  height: 1.875rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-31,
.my-31,
.mt-31 {
  margin-top: 1.938rem !important;
}

.m-31,
.my-31,
.mb-31 {
  margin-bottom: 1.938rem !important;
}

.m-31,
.mx-31,
.ms-31 {
  margin-left: 1.938rem !important;
}

.m-31,
.mx-31,
.me-31 {
  margin-right: 1.938rem !important;
}

.p-31,
.py-31,
.pt-31 {
  padding-top: 1.938rem !important;
}

.p-31,
.py-31,
.pb-31 {
  padding-bottom: 1.938rem !important;
}

.p-31,
.px-31,
.ps-31 {
  padding-left: 1.938rem !important;
}

.p-31,
.px-31,
.pe-31 {
  padding-right: 1.938rem !important;
}

.fs-31 {
  font-size: 1.938rem !important;
}

.gap-31 {
  gap: 1.938rem !important;
}

.row-31 {
  --bs-gutter-x: 1.938rem;
  --bs-gutter-y: 1.938rem;
}

.li-31 li + li {
  padding-top: 1.938rem;
}

.sq-31 {
  width: 1.938rem !important;
  height: 1.938rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-32,
.my-32,
.mt-32 {
  margin-top: 2rem !important;
}

.m-32,
.my-32,
.mb-32 {
  margin-bottom: 2rem !important;
}

.m-32,
.mx-32,
.ms-32 {
  margin-left: 2rem !important;
}

.m-32,
.mx-32,
.me-32 {
  margin-right: 2rem !important;
}

.p-32,
.py-32,
.pt-32 {
  padding-top: 2rem !important;
}

.p-32,
.py-32,
.pb-32 {
  padding-bottom: 2rem !important;
}

.p-32,
.px-32,
.ps-32 {
  padding-left: 2rem !important;
}

.p-32,
.px-32,
.pe-32 {
  padding-right: 2rem !important;
}

.fs-32 {
  font-size: 2rem !important;
}

.gap-32 {
  gap: 2rem !important;
}

.row-32 {
  --bs-gutter-x: 2rem;
  --bs-gutter-y: 2rem;
}

.li-32 li + li {
  padding-top: 2rem;
}

.sq-32 {
  width: 2rem !important;
  height: 2rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-35,
.my-35,
.mt-35 {
  margin-top: 2.188rem !important;
}

.m-35,
.my-35,
.mb-35 {
  margin-bottom: 2.188rem !important;
}

.m-35,
.mx-35,
.ms-35 {
  margin-left: 2.188rem !important;
}

.m-35,
.mx-35,
.me-35 {
  margin-right: 2.188rem !important;
}

.p-35,
.py-35,
.pt-35 {
  padding-top: 2.188rem !important;
}

.p-35,
.py-35,
.pb-35 {
  padding-bottom: 2.188rem !important;
}

.p-35,
.px-35,
.ps-35 {
  padding-left: 2.188rem !important;
}

.p-35,
.px-35,
.pe-35 {
  padding-right: 2.188rem !important;
}

.fs-35 {
  font-size: 2.188rem !important;
}

.gap-35 {
  gap: 2.188rem !important;
}

.row-35 {
  --bs-gutter-x: 2.188rem;
  --bs-gutter-y: 2.188rem;
}

.li-35 li + li {
  padding-top: 2.188rem;
}

.sq-35 {
  width: 2.188rem !important;
  height: 2.188rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-36,
.my-36,
.mt-36 {
  margin-top: 2.25rem !important;
}

.m-36,
.my-36,
.mb-36 {
  margin-bottom: 2.25rem !important;
}

.m-36,
.mx-36,
.ms-36 {
  margin-left: 2.25rem !important;
}

.m-36,
.mx-36,
.me-36 {
  margin-right: 2.25rem !important;
}

.p-36,
.py-36,
.pt-36 {
  padding-top: 2.25rem !important;
}

.p-36,
.py-36,
.pb-36 {
  padding-bottom: 2.25rem !important;
}

.p-36,
.px-36,
.ps-36 {
  padding-left: 2.25rem !important;
}

.p-36,
.px-36,
.pe-36 {
  padding-right: 2.25rem !important;
}

.fs-36 {
  font-size: 2.25rem !important;
}

.gap-36 {
  gap: 2.25rem !important;
}

.row-36 {
  --bs-gutter-x: 2.25rem;
  --bs-gutter-y: 2.25rem;
}

.li-36 li + li {
  padding-top: 2.25rem;
}

.sq-36 {
  width: 2.25rem !important;
  height: 2.25rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-40,
.my-40,
.mt-40 {
  margin-top: 2.5rem !important;
}

.m-40,
.my-40,
.mb-40 {
  margin-bottom: 2.5rem !important;
}

.m-40,
.mx-40,
.ms-40 {
  margin-left: 2.5rem !important;
}

.m-40,
.mx-40,
.me-40 {
  margin-right: 2.5rem !important;
}

.p-40,
.py-40,
.pt-40 {
  padding-top: 2.5rem !important;
}

.p-40,
.py-40,
.pb-40 {
  padding-bottom: 2.5rem !important;
}

.p-40,
.px-40,
.ps-40 {
  padding-left: 2.5rem !important;
}

.p-40,
.px-40,
.pe-40 {
  padding-right: 2.5rem !important;
}

.fs-40 {
  font-size: 2.5rem !important;
}

.gap-40 {
  gap: 2.5rem !important;
}

.row-40 {
  --bs-gutter-x: 2.5rem;
  --bs-gutter-y: 2.5rem;
}

.li-40 li + li {
  padding-top: 2.5rem;
}

.sq-40 {
  width: 2.5rem !important;
  height: 2.5rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-42,
.my-42,
.mt-42 {
  margin-top: 2.625rem !important;
}

.m-42,
.my-42,
.mb-42 {
  margin-bottom: 2.625rem !important;
}

.m-42,
.mx-42,
.ms-42 {
  margin-left: 2.625rem !important;
}

.m-42,
.mx-42,
.me-42 {
  margin-right: 2.625rem !important;
}

.p-42,
.py-42,
.pt-42 {
  padding-top: 2.625rem !important;
}

.p-42,
.py-42,
.pb-42 {
  padding-bottom: 2.625rem !important;
}

.p-42,
.px-42,
.ps-42 {
  padding-left: 2.625rem !important;
}

.p-42,
.px-42,
.pe-42 {
  padding-right: 2.625rem !important;
}

.fs-42 {
  font-size: 2.625rem !important;
}

.gap-42 {
  gap: 2.625rem !important;
}

.row-42 {
  --bs-gutter-x: 2.625rem;
  --bs-gutter-y: 2.625rem;
}

.li-42 li + li {
  padding-top: 2.625rem;
}

.sq-42 {
  width: 2.625rem !important;
  height: 2.625rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-44,
.my-44,
.mt-44 {
  margin-top: 2.75rem !important;
}

.m-44,
.my-44,
.mb-44 {
  margin-bottom: 2.75rem !important;
}

.m-44,
.mx-44,
.ms-44 {
  margin-left: 2.75rem !important;
}

.m-44,
.mx-44,
.me-44 {
  margin-right: 2.75rem !important;
}

.p-44,
.py-44,
.pt-44 {
  padding-top: 2.75rem !important;
}

.p-44,
.py-44,
.pb-44 {
  padding-bottom: 2.75rem !important;
}

.p-44,
.px-44,
.ps-44 {
  padding-left: 2.75rem !important;
}

.p-44,
.px-44,
.pe-44 {
  padding-right: 2.75rem !important;
}

.fs-44 {
  font-size: 2.75rem !important;
}

.gap-44 {
  gap: 2.75rem !important;
}

.row-44 {
  --bs-gutter-x: 2.75rem;
  --bs-gutter-y: 2.75rem;
}

.li-44 li + li {
  padding-top: 2.75rem;
}

.sq-44 {
  width: 2.75rem !important;
  height: 2.75rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-45,
.my-45,
.mt-45 {
  margin-top: 2.813rem !important;
}

.m-45,
.my-45,
.mb-45 {
  margin-bottom: 2.813rem !important;
}

.m-45,
.mx-45,
.ms-45 {
  margin-left: 2.813rem !important;
}

.m-45,
.mx-45,
.me-45 {
  margin-right: 2.813rem !important;
}

.p-45,
.py-45,
.pt-45 {
  padding-top: 2.813rem !important;
}

.p-45,
.py-45,
.pb-45 {
  padding-bottom: 2.813rem !important;
}

.p-45,
.px-45,
.ps-45 {
  padding-left: 2.813rem !important;
}

.p-45,
.px-45,
.pe-45 {
  padding-right: 2.813rem !important;
}

.fs-45 {
  font-size: 2.813rem !important;
}

.gap-45 {
  gap: 2.813rem !important;
}

.row-45 {
  --bs-gutter-x: 2.813rem;
  --bs-gutter-y: 2.813rem;
}

.li-45 li + li {
  padding-top: 2.813rem;
}

.sq-45 {
  width: 2.813rem !important;
  height: 2.813rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-46,
.my-46,
.mt-46 {
  margin-top: 2.875rem !important;
}

.m-46,
.my-46,
.mb-46 {
  margin-bottom: 2.875rem !important;
}

.m-46,
.mx-46,
.ms-46 {
  margin-left: 2.875rem !important;
}

.m-46,
.mx-46,
.me-46 {
  margin-right: 2.875rem !important;
}

.p-46,
.py-46,
.pt-46 {
  padding-top: 2.875rem !important;
}

.p-46,
.py-46,
.pb-46 {
  padding-bottom: 2.875rem !important;
}

.p-46,
.px-46,
.ps-46 {
  padding-left: 2.875rem !important;
}

.p-46,
.px-46,
.pe-46 {
  padding-right: 2.875rem !important;
}

.fs-46 {
  font-size: 2.875rem !important;
}

.gap-46 {
  gap: 2.875rem !important;
}

.row-46 {
  --bs-gutter-x: 2.875rem;
  --bs-gutter-y: 2.875rem;
}

.li-46 li + li {
  padding-top: 2.875rem;
}

.sq-46 {
  width: 2.875rem !important;
  height: 2.875rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-48,
.my-48,
.mt-48 {
  margin-top: 3rem !important;
}

.m-48,
.my-48,
.mb-48 {
  margin-bottom: 3rem !important;
}

.m-48,
.mx-48,
.ms-48 {
  margin-left: 3rem !important;
}

.m-48,
.mx-48,
.me-48 {
  margin-right: 3rem !important;
}

.p-48,
.py-48,
.pt-48 {
  padding-top: 3rem !important;
}

.p-48,
.py-48,
.pb-48 {
  padding-bottom: 3rem !important;
}

.p-48,
.px-48,
.ps-48 {
  padding-left: 3rem !important;
}

.p-48,
.px-48,
.pe-48 {
  padding-right: 3rem !important;
}

.fs-48 {
  font-size: 3rem !important;
}

.gap-48 {
  gap: 3rem !important;
}

.row-48 {
  --bs-gutter-x: 3rem;
  --bs-gutter-y: 3rem;
}

.li-48 li + li {
  padding-top: 3rem;
}

.sq-48 {
  width: 3rem !important;
  height: 3rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-50,
.my-50,
.mt-50 {
  margin-top: 3.125rem !important;
}

.m-50,
.my-50,
.mb-50 {
  margin-bottom: 3.125rem !important;
}

.m-50,
.mx-50,
.ms-50 {
  margin-left: 3.125rem !important;
}

.m-50,
.mx-50,
.me-50 {
  margin-right: 3.125rem !important;
}

.p-50,
.py-50,
.pt-50 {
  padding-top: 3.125rem !important;
}

.p-50,
.py-50,
.pb-50 {
  padding-bottom: 3.125rem !important;
}

.p-50,
.px-50,
.ps-50 {
  padding-left: 3.125rem !important;
}

.p-50,
.px-50,
.pe-50 {
  padding-right: 3.125rem !important;
}

.fs-50 {
  font-size: 3.125rem !important;
}

.gap-50 {
  gap: 3.125rem !important;
}

.row-50 {
  --bs-gutter-x: 3.125rem;
  --bs-gutter-y: 3.125rem;
}

.li-50 li + li {
  padding-top: 3.125rem;
}

.sq-50 {
  width: 3.125rem !important;
  height: 3.125rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-56,
.my-56,
.mt-56 {
  margin-top: 3.5rem !important;
}

.m-56,
.my-56,
.mb-56 {
  margin-bottom: 3.5rem !important;
}

.m-56,
.mx-56,
.ms-56 {
  margin-left: 3.5rem !important;
}

.m-56,
.mx-56,
.me-56 {
  margin-right: 3.5rem !important;
}

.p-56,
.py-56,
.pt-56 {
  padding-top: 3.5rem !important;
}

.p-56,
.py-56,
.pb-56 {
  padding-bottom: 3.5rem !important;
}

.p-56,
.px-56,
.ps-56 {
  padding-left: 3.5rem !important;
}

.p-56,
.px-56,
.pe-56 {
  padding-right: 3.5rem !important;
}

.fs-56 {
  font-size: 3.5rem !important;
}

.gap-56 {
  gap: 3.5rem !important;
}

.row-56 {
  --bs-gutter-x: 3.5rem;
  --bs-gutter-y: 3.5rem;
}

.li-56 li + li {
  padding-top: 3.5rem;
}

.sq-56 {
  width: 3.5rem !important;
  height: 3.5rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-57,
.my-57,
.mt-57 {
  margin-top: 3.563rem !important;
}

.m-57,
.my-57,
.mb-57 {
  margin-bottom: 3.563rem !important;
}

.m-57,
.mx-57,
.ms-57 {
  margin-left: 3.563rem !important;
}

.m-57,
.mx-57,
.me-57 {
  margin-right: 3.563rem !important;
}

.p-57,
.py-57,
.pt-57 {
  padding-top: 3.563rem !important;
}

.p-57,
.py-57,
.pb-57 {
  padding-bottom: 3.563rem !important;
}

.p-57,
.px-57,
.ps-57 {
  padding-left: 3.563rem !important;
}

.p-57,
.px-57,
.pe-57 {
  padding-right: 3.563rem !important;
}

.fs-57 {
  font-size: 3.563rem !important;
}

.gap-57 {
  gap: 3.563rem !important;
}

.row-57 {
  --bs-gutter-x: 3.563rem;
  --bs-gutter-y: 3.563rem;
}

.li-57 li + li {
  padding-top: 3.563rem;
}

.sq-57 {
  width: 3.563rem !important;
  height: 3.563rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-64,
.my-64,
.mt-64 {
  margin-top: 4rem !important;
}

.m-64,
.my-64,
.mb-64 {
  margin-bottom: 4rem !important;
}

.m-64,
.mx-64,
.ms-64 {
  margin-left: 4rem !important;
}

.m-64,
.mx-64,
.me-64 {
  margin-right: 4rem !important;
}

.p-64,
.py-64,
.pt-64 {
  padding-top: 4rem !important;
}

.p-64,
.py-64,
.pb-64 {
  padding-bottom: 4rem !important;
}

.p-64,
.px-64,
.ps-64 {
  padding-left: 4rem !important;
}

.p-64,
.px-64,
.pe-64 {
  padding-right: 4rem !important;
}

.fs-64 {
  font-size: 4rem !important;
}

.gap-64 {
  gap: 4rem !important;
}

.row-64 {
  --bs-gutter-x: 4rem;
  --bs-gutter-y: 4rem;
}

.li-64 li + li {
  padding-top: 4rem;
}

.sq-64 {
  width: 4rem !important;
  height: 4rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-72,
.my-72,
.mt-72 {
  margin-top: 4.5rem !important;
}

.m-72,
.my-72,
.mb-72 {
  margin-bottom: 4.5rem !important;
}

.m-72,
.mx-72,
.ms-72 {
  margin-left: 4.5rem !important;
}

.m-72,
.mx-72,
.me-72 {
  margin-right: 4.5rem !important;
}

.p-72,
.py-72,
.pt-72 {
  padding-top: 4.5rem !important;
}

.p-72,
.py-72,
.pb-72 {
  padding-bottom: 4.5rem !important;
}

.p-72,
.px-72,
.ps-72 {
  padding-left: 4.5rem !important;
}

.p-72,
.px-72,
.pe-72 {
  padding-right: 4.5rem !important;
}

.fs-72 {
  font-size: 4.5rem !important;
}

.gap-72 {
  gap: 4.5rem !important;
}

.row-72 {
  --bs-gutter-x: 4.5rem;
  --bs-gutter-y: 4.5rem;
}

.li-72 li + li {
  padding-top: 4.5rem;
}

.sq-72 {
  width: 4.5rem !important;
  height: 4.5rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-75,
.my-75,
.mt-75 {
  margin-top: 4.688rem !important;
}

.m-75,
.my-75,
.mb-75 {
  margin-bottom: 4.688rem !important;
}

.m-75,
.mx-75,
.ms-75 {
  margin-left: 4.688rem !important;
}

.m-75,
.mx-75,
.me-75 {
  margin-right: 4.688rem !important;
}

.p-75,
.py-75,
.pt-75 {
  padding-top: 4.688rem !important;
}

.p-75,
.py-75,
.pb-75 {
  padding-bottom: 4.688rem !important;
}

.p-75,
.px-75,
.ps-75 {
  padding-left: 4.688rem !important;
}

.p-75,
.px-75,
.pe-75 {
  padding-right: 4.688rem !important;
}

.fs-75 {
  font-size: 4.688rem !important;
}

.gap-75 {
  gap: 4.688rem !important;
}

.row-75 {
  --bs-gutter-x: 4.688rem;
  --bs-gutter-y: 4.688rem;
}

.li-75 li + li {
  padding-top: 4.688rem;
}

.sq-75 {
  width: 4.688rem !important;
  height: 4.688rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-80,
.my-80,
.mt-80 {
  margin-top: 5rem !important;
}

.m-80,
.my-80,
.mb-80 {
  margin-bottom: 5rem !important;
}

.m-80,
.mx-80,
.ms-80 {
  margin-left: 5rem !important;
}

.m-80,
.mx-80,
.me-80 {
  margin-right: 5rem !important;
}

.p-80,
.py-80,
.pt-80 {
  padding-top: 5rem !important;
}

.p-80,
.py-80,
.pb-80 {
  padding-bottom: 5rem !important;
}

.p-80,
.px-80,
.ps-80 {
  padding-left: 5rem !important;
}

.p-80,
.px-80,
.pe-80 {
  padding-right: 5rem !important;
}

.fs-80 {
  font-size: 5rem !important;
}

.gap-80 {
  gap: 5rem !important;
}

.row-80 {
  --bs-gutter-x: 5rem;
  --bs-gutter-y: 5rem;
}

.li-80 li + li {
  padding-top: 5rem;
}

.sq-80 {
  width: 5rem !important;
  height: 5rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-88,
.my-88,
.mt-88 {
  margin-top: 5.5rem !important;
}

.m-88,
.my-88,
.mb-88 {
  margin-bottom: 5.5rem !important;
}

.m-88,
.mx-88,
.ms-88 {
  margin-left: 5.5rem !important;
}

.m-88,
.mx-88,
.me-88 {
  margin-right: 5.5rem !important;
}

.p-88,
.py-88,
.pt-88 {
  padding-top: 5.5rem !important;
}

.p-88,
.py-88,
.pb-88 {
  padding-bottom: 5.5rem !important;
}

.p-88,
.px-88,
.ps-88 {
  padding-left: 5.5rem !important;
}

.p-88,
.px-88,
.pe-88 {
  padding-right: 5.5rem !important;
}

.fs-88 {
  font-size: 5.5rem !important;
}

.gap-88 {
  gap: 5.5rem !important;
}

.row-88 {
  --bs-gutter-x: 5.5rem;
  --bs-gutter-y: 5.5rem;
}

.li-88 li + li {
  padding-top: 5.5rem;
}

.sq-88 {
  width: 5.5rem !important;
  height: 5.5rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-90,
.my-90,
.mt-90 {
  margin-top: 5.625rem !important;
}

.m-90,
.my-90,
.mb-90 {
  margin-bottom: 5.625rem !important;
}

.m-90,
.mx-90,
.ms-90 {
  margin-left: 5.625rem !important;
}

.m-90,
.mx-90,
.me-90 {
  margin-right: 5.625rem !important;
}

.p-90,
.py-90,
.pt-90 {
  padding-top: 5.625rem !important;
}

.p-90,
.py-90,
.pb-90 {
  padding-bottom: 5.625rem !important;
}

.p-90,
.px-90,
.ps-90 {
  padding-left: 5.625rem !important;
}

.p-90,
.px-90,
.pe-90 {
  padding-right: 5.625rem !important;
}

.fs-90 {
  font-size: 5.625rem !important;
}

.gap-90 {
  gap: 5.625rem !important;
}

.row-90 {
  --bs-gutter-x: 5.625rem;
  --bs-gutter-y: 5.625rem;
}

.li-90 li + li {
  padding-top: 5.625rem;
}

.sq-90 {
  width: 5.625rem !important;
  height: 5.625rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.m-100,
.my-100,
.mt-100 {
  margin-top: 6.25rem !important;
}

.m-100,
.my-100,
.mb-100 {
  margin-bottom: 6.25rem !important;
}

.m-100,
.mx-100,
.ms-100 {
  margin-left: 6.25rem !important;
}

.m-100,
.mx-100,
.me-100 {
  margin-right: 6.25rem !important;
}

.p-100,
.py-100,
.pt-100 {
  padding-top: 6.25rem !important;
}

.p-100,
.py-100,
.pb-100 {
  padding-bottom: 6.25rem !important;
}

.p-100,
.px-100,
.ps-100 {
  padding-left: 6.25rem !important;
}

.p-100,
.px-100,
.pe-100 {
  padding-right: 6.25rem !important;
}

.fs-100 {
  font-size: 6.25rem !important;
}

.gap-100 {
  gap: 6.25rem !important;
}

.row-100 {
  --bs-gutter-x: 6.25rem;
  --bs-gutter-y: 6.25rem;
}

.li-100 li + li {
  padding-top: 6.25rem;
}

.sq-100 {
  width: 6.25rem !important;
  height: 6.25rem !important;
  min-height: unset !important;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.shadow-0 {
  box-shadow: none !important;
}

.shadow-sm {
  box-shadow: 0px 8px 16px 0px rgba(18, 27, 33, 0.1019607843) !important;
}

.shadow-md {
  box-shadow: 0px 8px 16px 0px rgba(18, 27, 33, 0.1019607843) !important;
}

.shadow-lg {
  box-shadow: 0px 24px 128px 0px rgba(18, 27, 33, 0.4) !important;
}

.user-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.online {
  position: relative;
}
.online::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--success);
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

.dropdown-menu.dropdown-profile {
  --bs-dropdown-min-width: 17.1875rem;
  --bs-dropdown-padding-y: 0.875rem;
  --bs-dropdown-item-padding-y: 0.5rem;
  --bs-dropdown-item-padding-x: 0.875rem;
  --bs-dropdown-link-hover-bg: #f9f9f9;
  --bs-dropdown-link-hover-color: #00b2ff;
  --bs-dropdown-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
  --bs-dropdown-border-width: 0;
  --bs-dropdown-font-size: 0.875rem;
  --bs-dropdown-divider-bg: #f1f1f2;
  box-shadow: var(--bs-dropdown-box-shadow);
}
.dropdown-menu.dropdown-profile .dropdown-item {
  border-radius: 0.475rem;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-hero .carousel-indicators,
.carousel-hero button {
  z-index: 11;
}
.carousel-hero .carousel-control-prev,
.carousel-hero .carousel-control-next {
  opacity: 1;
  width: 10%;
}
.carousel-hero .carousel-control-prev .btn-carousel,
.carousel-hero .carousel-control-next .btn-carousel {
  border-radius: 50%;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  background-image: none;
  position: relative;
}
.carousel-hero .carousel-control-prev .btn-carousel::before,
.carousel-hero .carousel-control-next .btn-carousel::before {
  font-family: var(--font-icon);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.carousel-hero .carousel-control-prev:hover .btn-carousel,
.carousel-hero .carousel-control-next:hover .btn-carousel {
  background-color: #fff;
}
.carousel-hero .carousel-control-prev:hover .btn-carousel::before,
.carousel-hero .carousel-control-next:hover .btn-carousel::before {
  color: var(--text-dark);
}
.carousel-hero .carousel-control-prev .btn-carousel::before {
  content: "\f284";
}
.carousel-hero .carousel-control-next .btn-carousel::before {
  content: "\f285";
}
.carousel-hero .container-lg {
  min-height: 32.5rem;
  position: relative;
  z-index: 10;
}
.carousel-hero .carousel-item-bg {
  position: absolute;
  inset: 0;
  z-index: 9;
}
.carousel-hero .carousel-item-bg img {
  position: absolute;
}
.carousel-hero .carousel-item-bg .img1 {
  right: 0;
  opacity: 0.2;
}
.carousel-hero .carousel-item-bg .img2 {
  right: 30%;
  bottom: 10%;
  opacity: 0.75;
}
.carousel-hero .carousel-item-bg .img3 {
  top: 5%;
  right: 25%;
}
.carousel-hero .carousel-item-bg .img4 {
  top: 30%;
  left: 2%;
}
.carousel-hero .carousel-item {
  background-color: #115061;
  position: relative;
}
.carousel-hero .slider-img {
  height: 23.25rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.slider-title {
  font-weight: 900;
  font-size: 2.3125rem;
  line-height: 1.07;
  margin-bottom: 12px;
}
@media (min-width: 1000px) {
  .slider-title {
    font-size: 3.5rem;
  }
}

.slider-content {
  font-family: "Oregano", cursive;
  font-weight: 400;
  font-size: 1.75rem;
  margin-bottom: 2.5rem;
}

.slider-discount {
  display: inline-block;
  color: #ffd43a;
  position: relative;
  z-index: 1;
}
.slider-discount svg {
  position: absolute;
  bottom: -0.875rem;
  right: 0px;
}

.title-2 {
  font-size: 1.875rem;
  font-weight: 6000;
}
@media (min-width: 1000px) {
  .title-2 {
    font-size: 2.8125rem;
  }
}

.btn-white-1 {
  --bs-btn-color: var(--text-dark);
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #fff3;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: #fff3;
}

.btn-white-2 {
  --bs-btn-color:var(--tp-common-black);
  --bs-btn-bg: var(--tp-common-white);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--tp-theme-primary);
  --bs-btn-hover-border-color: var(--tp-theme-primary);
}

.btn-md {
  --bs-btn-padding-x: 1.8125rem;
  --bs-btn-padding-y: 0.5625rem;
  --bs-btn-font-size: 14px;
  --bs-btn-font-weight: 500;
  line-height: 1.625rem;
}

.card-c1 {
  text-align: center;
}
.card-c1 .card-img {
  background-image: radial-gradient(95.56% 95.56% at 50% 50%, #ffffff 0%, #bddeff 100%);
  width: 11.25rem;
  height: 11.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.card-c1 .title {
  font-size: 1.25rem;
}
.card-c1 .content {
  font-size: 0.875rem;
  color: var(--text-dark-200);
}
.card-c1:hover .card-img img {
  transform: scale(1.1);
  transition: all 0.3s 0s ease-in-out;
}

.card-c2 {
  background-color: rgb(246, 247, 249);
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.card-c2 i {
  color: var(--tp-pink-1);
  font-size: 2.5rem;
}

.card-product-1 {
  --bs-card-border-color: var(--tp-border-primary);
  --bs-card-border-radius: 0.5rem;
  --bs-card-box-shadow: 0 0px 0px #010f1c24;
  --bs-card-spacer-y: 1.25rem;
  --bs-card-spacer-x: 1.875rem;
  box-shadow: var(--bs-card-box-shadow);
  overflow: hidden;
}
.card-product-1 * {
  transition: all 300ms;
}
.card-product-1 .card-action {
  right: 0px;
  visibility: hidden;
  opacity: 0;
  bottom: 25px;
  box-shadow: 0 1px 3px rgba(1, 15, 28, 0.1411764706);
  overflow: hidden;
  border-radius: 6px;
}
.card-product-1 .card-body + .card-body {
  border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.card-product-1:hover {
  --bs-card-box-shadow: 0 4px 10px #010f1c24;
  border-color: var(--tp-common-white);
}
.card-product-1:hover .card-img-top {
  scale: 1.1;
}
.card-product-1:hover .card-action {
  right: 20px;
  visibility: visible;
  opacity: 1;
}

.nav-tabs {
  --bs-nav-tabs-border-width: 0;
  --bs-nav-link-font-weight: 400;
  --bs-nav-link-font-size: 1.25rem;
  --bs-nav-link-color: var(--tp-text-3);
  --bs-nav-tabs-link-active-color: var(--text-black);
  --bs-nav-link-hover-color: var(--text-black);
  --bs-nav-link-padding-x: 1rem;
}/*# sourceMappingURL=style.css.map */